html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  line-height: 1.5;
}

.shadow {
  position: absolute;
  background: #879ead;
  border-radius: 24px;
  rotate: 35deg;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(100px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.animated-text::before {
  content: "NUEVO";
  animation: textAnimation infinite 8s;
}

@keyframes textAnimation {
  0% {
    content: "NUEVO";
  }
  25% {
    content: "DIVERTIDO";
  }
  50% {
    content: "ÚNICO";
  }
  75% {
    content: "ORIGINAL";
  }
  100% {
    content: "NUEVO";
  }
}

.navbar-item {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navbar-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #879ead;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.card-container {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s, width 0.6s, height 0.6s;
}

.card-container:hover {
  transform: scale(1.1);
  width: 350px;
  height: 500px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
}

.card-content,
.card-hover-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-content {
  background-color: #edece2;
  color: black;
  display: flex;
  flex-direction: column;
}

.card-hover-content {
  background-color: #edece2;
  color: black;
  transform: scale(1.2);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container:hover .card-hover-content {
  opacity: 1;
  transform: scale(1);
}

.card-container:hover .card {
  transform: scale(1.1);
}

.animated-link {
  position: relative;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: color 0.5s ease-in-out;
}

.animated-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.animated-link:hover::after {
  width: 0;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  from,
  to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

/* Nuevas clases y animaciones para la animación de texto */

.content {
  position: relative;
  overflow: hidden;
}

.poster {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.poster__inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: background-slide 8s infinite alternate;
}

@keyframes background-slide {
  0% {
    background-image: url('/fondo1.svg');
  }
  100% {
    background-image: url('/fondo2.svg');
  }
}

.font-2 {
  font-family: "Inconsolata", monospace;
}

.size-3 {
  font-size: 8rem;
}

@media (max-width: 768px) {
  .size-3 {
    font-size: 4rem;
  }
}

.poster.visible .poster__inner {
  opacity: 1;
  transform: translateY(0);
}

.poster .poster__inner {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}
