/* Hero.css */
html {
  scroll-behavior: smooth;
}

:root {
  --scroll-offset: 0px;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  line-height: 1.5;
}
/*
.shadow {
  position: absolute;
  background: #879EAD;
  border-radius: 24px;
  rotate: 35deg;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(100px);
  animation: shadow-slide infinite 4s linear alternate;
}
*/
@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

.blink {
  animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0;
  }
}

.navbar-item {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navbar-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #879EAD;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.flip-card {
  perspective: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #EDECE2;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #EDECE2;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modal-open {
  overflow: hidden;
}

@keyframes In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#cotiza {
  animation: In 1s ease-in-out forwards;
}

#cotiza.fade-out {
  animation: Out 1s ease-in-out forwards;
}

.cotiza-form {
  background: transparent;
}

.cotiza-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  transition-property: border-bottom-color;
  transition-duration: 0.3s;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.cotiza-input::placeholder {
  color: #fff;
}

.cotiza-input:focus {
  outline: none;
  border-bottom: 2px solid #879EAD;
}

.cotiza-button {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.cotiza-text-form {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes slide-up {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-item-active::before {
  visibility: visible;
  transform: scaleX(1);
}

.flier-1 {
  position: fixed;
  top: 10%;
  left: -30%;
  width: 25%;
  height: 25%;
  object-fit: contain;
  animation: fly-around-1 60s linear infinite;
  z-index: 999;
}

.flier-2 {
  position: fixed;
  top: 60%; 
  width: 20%;
  height: 20%;
  object-fit: contain;
  animation: fly-around-2 60s linear infinite;
  z-index: 999;
}

.flier-3 {
  position: fixed;
  top: 15%;
  left: 0%;
  width: 20%;
  height: 25%;
  object-fit: contain;
  transform: rotate(calc(1deg + var(--scroll-offset) * 0.3deg));
  transition: transform 0.1s linear;
  z-index: 9999;
}
.flier-4 {
  position: fixed;
  top: 65%;
  left: 45%;
  width: 25%;
  height: 25%;
  object-fit: contain;
  transform: rotate(calc(1deg + var(--scroll-offset) * 0.5deg));
  transition: transform 0.1s linear;
  z-index: 9999;
}

.flier-6 {
  position: fixed;
  top: 20%; 
  width: 50%;
  height: 30%;
  object-fit: contain;
  animation: fly-around-2 50s linear infinite;
  z-index: 999;
}

@keyframes fly-around-1 {   
  0% {     
    transform: translate(0, 0) rotate(0deg) scale(1);   
  }   
  12.5% {     
    transform: translate(15vw, calc(0.01vh * var(--scroll-offset))) rotate(45deg) scale(1.1);   
  }   
  25% {     
    transform: translate(30vw, calc(0.02vh * var(--scroll-offset))) rotate(90deg) scale(1.4);   
  }   
  37.5% {     
    transform: translate(45vw, calc(0.01vh * var(--scroll-offset))) rotate(135deg) scale(1.1);   
  }   
  50% {     
    transform: translate(60vw, calc(0.01vh * var(--scroll-offset))) rotate(180deg) scale(1);   
  }   
  62.5% {     
    transform: translate(75vw, calc(0.01vh * var(--scroll-offset))) rotate(225deg) scale(0.9);   
  }   
  75% {     
    transform: translate(85vw, calc(0.01vh * var(--scroll-offset))) rotate(270deg) scale(1);   
  }   
  87.5% {     
    transform: translate(100vw, calc(0.01vh * var(--scroll-offset))) rotate(315deg) scale(1.1);   
  }   
  100% {     
    transform: translate(0, calc(0.01vh * var(--scroll-offset))) rotate(360deg) scale(1);   
  } 
}


@keyframes fly-around-2 {
  0% {
    transform: translate(100vw, 0) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(70vw, calc(0.02vh * var(--scroll-offset))) rotate(90deg) scale(1.4);
  }
  50% {
    transform: translate(50vw, calc(0.01vh * var(--scroll-offset))) rotate(180deg) scale(1);
  }
  75% {
    transform: translate(60vw, calc(0.01vh * var(--scroll-offset))) rotate(225deg) scale(0.9);
  }
  100% {
    transform: translate(100vw, calc(0.01vh * var(--scroll-offset))) rotate(360deg) scale(1);
  }
}


@keyframes fly-around-3 {
  0% {
    transform: scale(calc(1 + var(--scroll-offset) * 0.01));
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(120deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fly-around-4 {
  0% {
    transform: scale(calc(1 + var(--scroll-offset) * 0.03));
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(150deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fly-around-6 {
  0% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }
  20% {
    transform: translate(20vw, -10vh) rotate(45deg) scale(1.2);
  }
  40% {
    transform: translate(-15vw, 15vh) rotate(90deg) scale(0.8);
  }
  60% {
    transform: translate(30vw, -20vh) rotate(135deg) scale(1.1);
  }
  80% {
    transform: translate(-25vw, 10vh) rotate(270deg) scale(0.9);
  }
  100% {
    transform: translate(0vw, 0vh) rotate(360deg) scale(1);
  }
}

.flier-random {
  position: fixed;
  animation: random-float 10s linear infinite;
}

.animated-subtitle {
  transform: translateY(calc(-1px * var(--scroll-offset))) scale(calc(1 + var(--scroll-offset) * 0.002));
  transition: transform 0.1s linear;
}
.start {
  background-color: transparent;
}
.loading {
  background-color: #879EAD;
}
.success {
  background-color: #879EAD;
}
.error {
  background-color: red;
}
